.flex {
  display: flex
}

.h-full {
  height: 100%
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.self-stretch {
  align-self: stretch
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.leading-6 {
  line-height: 1.5rem
}

.leading-10 {
  line-height: 2.5rem
}

.leading-\[3\.75rem\] {
  line-height: 3.75rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
